@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
  border: none;
  background-color: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

body {
  font-family: Josefin Sans, sans-serif;
  font-size: 16px;
  color: var(--primary);
  display: grid;
  justify-content: center;
  background-image: url("../../images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% 33vh;
  background-color: var(--secondary);
}

.content-wrapper {
  width: 100vw;
  min-height: 100vh;
  padding: 2.4em 1.2em;
  max-width: 540px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8em;
}
.header__logo {
  color: var(--light);
  letter-spacing: 1ch;
}
.header__theme-switch {
  cursor: pointer;
}
.header__theme-switch .theme-switch {
  width: 1.4em;
}

.todos__form {
  position: relative;
  margin-bottom: 1.2em;
}
.todos__form:after {
  content: "";
  position: absolute;
  padding: 0.7em;
  left: 1.2em;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 1px solid var(--off);
}
.todos__form-input {
  background-color: var(--bg);
  width: 100%;
  padding: 1.2em 4.2em;
  border: none;
  border-radius: 0.2em;
  font-weight: 600;
  outline: none;
}
.todos__list {
  background-color: var(--bg);
  border-radius: 0.2em;
}
.todos__list-item,
.todos .item__delete,
.todos .item__check {
  display: flex;
  align-items: center;
}

.item {
  padding: 1.2em;
  border-bottom: 1px solid var(--off);
  cursor: pointer;
}
.item__check {
  margin-right: 1.2em;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--off);
  padding: 0.3em;
  aspect-ratio: 1/1;
}
.item__check:hover {
  background: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
  border: 1px solid transparent;
}
.item__check .check {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: var(--bg);
  display: grid;
  place-content: center;
}
.item__check .check img {
  opacity: 0;
}
.item__content {
  flex-grow: 1;
  cursor: pointer;
}
.item__delete {
  margin-left: auto;
}
.item__delete svg:hover path, .item__delete svg:active path {
  transition: 0.3s;
  fill: red;
}

.manage-todos {
  background-color: var(--bg);
  color: var(--neutral);
  padding: 1.2em;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  border-radius: 0 0 0.2em 0.2em;
}
.manage-todos__filter-desktop {
  display: none;
}
.manage-todos__clear:hover {
  color: var(--primary);
}
.manage-todos__clear:active {
  color: var(--active);
}

.todos__filter-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: var(--neutral);
  border-radius: 0.2em;
  font-weight: 700;
  background-color: var(--bg);
  margin-top: 1.2em;
  padding: 1em;
}
.todos__filter-mobile *:hover {
  color: var(--primary);
}
.todos__filter-mobile *:active {
  color: var(--active);
}

.completed-todos {
  text-decoration: line-through;
  color: var(--off);
}

.checkbox {
  opacity: 0;
}
.checkbox:checked + .check {
  background: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
}
.checkbox:checked + .check img {
  opacity: 1;
}

i {
  margin-right: 0.5em;
  font-size: 1.5em;
}

.active {
  color: var(--active);
}

:root {
  --active: hsl(220, 98%, 61%);
  --gradient1: hsl(192, 100%, 67%);
  --gradient2: hsl(280, 87%, 65%);
  --light: hsl(0, 0%, 98%);
  --secondary: hsl(236, 33%, 92%);
  --off: hsl(233, 11%, 84%);
  --neutral: hsl(236, 9%, 61%);
  --primary: hsl(235, 19%, 35%);
  --bg: hsl(0, 0%, 98%);
}

.dark {
  --secondary: hsl(235, 21%, 11%);
  --bg: hsl(235, 24%, 19%);
  --primary: hsl(234, 39%, 85%);
  --neutral: hsl(234, 11%, 52%);
  --off: hsl(233, 14%, 35%);
}

@media (min-width: 678px) {
  body {
    background-image: url("../../images/bg-desktop-light.jpg");
  }
  .manage-todos__filter-desktop {
    display: flex;
    gap: 1em;
    font-weight: 700;
    background-color: var(--bg);
  }
  .manage-todos__filter-desktop *:hover {
    color: var(--primary);
  }
  .manage-todos__filter-desktop *:active {
    color: var(--active);
  }
  .todos__filter-mobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */